@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}
body {
  font-family: sofia-pro, sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  color: black;
  justify-content: left;
  height: 100vh;
}
.container {
  margin: 0 300px;
}
.navbar {
  background-color: darkslategrey;
  /* background-image: linear-gradient(black, white); */
  color: white;
  font-size: 24px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  height: 10vh;
  box-shadow: 20px 20px 30px darkslategrey;
  /* border-style: solid;
  border-color: black;
  border-width: 2px; */
}
.title {
  font-size: 40px;
}
ul {
  padding: 0px;
  margin: 0px;
  gap: 1rem;
  list-style: none;
  display: flex;
  text-decoration: none;

}
li {
  align-content: center;
  width: 100px;
  text-decoration: none;
  list-style: none;
  font-size: 24px;
}
h1 {
  align-content: center;
  margin: 50px 0px;
}
.msgs {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.msg {
  display: flex;
  padding: 0 10px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px darkslategrey;
  align-items: center;
}
.sendMsg {
  position: fixed;
  display: flex;
  width: 75%;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid lightgray;
  margin-left: -5px;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #fafafa;
}
img {
  border-radius: 5px;
  height: 40px;
  /* margin-top: -20px; */
  border: 1px solid darkslategrey;
}
p {
  margin:  20px 0;
  font-size: 24px;
}
a {
  text-decoration: none;
  color: white;
  align-items: center;
}
.listing a {
color: black;
margin: 0px;
}