@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}
body {
  font-family: sofia-pro, sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  color: black;
  justify-content: left;
  height: 100vh;
}
.container {
  margin: 0 300px;
}
.navbar {
  background-color: darkslategrey;
  /* background-image: linear-gradient(black, white); */
  color: white;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  height: 10vh;
  /* border-style: solid;
  border-color: black;
  border-width: 2px; */
}
.title {
  font-size: 40px;
}
ul {
  padding: 0px;
  margin: 0px;
  gap: 1rem;
  list-style: none;
  display: flex;
  text-decoration: none;

}
li {
  align-content: center;
  width: 100px;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}
h1 {
  align-content: center;
  margin: 50px 0px;

}
p {
  margin:  20px 0;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
  align-items: center;
}
.listing a {
color: black;
margin: 0px;
}