@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 100px 0px;
  font-family: 'Poppins', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
}